.folder-holder, .images-holder, .inner-images-holder {
    float: left;
    width: 33%;
    height: 100%;
}
.glyphicon-folder-open {
  display: inline-block; }
.glyphicon-folder-close {
  display: none; }
.collapsed .glyphicon-folder-open {
  display: none; }
.collapsed .glyphicon-folder-close {
  display: inline-block; }



/*     ****       ****      ****
            Modal Styles
**     ****       ****      ****/
.modal-content {
  height: 500px;
}
.modal-left {
  width: 170px;
  float: left;
  height: 498px;
  border-right: 2px solid #dddddd;
}
.left-header, .right-header {
  border-bottom: 2px solid #dddddd;
  height: 50px;
  padding: 7px;
}

.up {
    font-size: 2.1em;
    width: 30px;
    float: left;
    margin: 2px 0 0 0;
}

.left-body {
    height: 448px;
    overflow: hidden;
}

.current-folder {
    text-align: center;
    padding: 9px 0;
}
.current-folder-name {
    float: left;
    width: 104px;
    font-size: 1em;
    padding: 0 10px;
    font-weight: bold;
}

.scroll {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}


.modal-right {
  width: 728px;
  float: left;
  height: 498px;
}

.right-body {
  height: 420px;
}

.images {
    width: 100%;
    height: 100%;
}

.image-holder {
    float: left;
    width: 230px;
    height: 230px;
}

.bg-img {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 0px;
}

.image-holder img {
    width: 100%;
    height: 100%;
}


.environment-picker {
  float: left;
}
.select {
  float: right;
}

.url {
  width: 720px;
  margin: 0 4px;
}

.url input {
  width: 100%;
}
