<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/loading-bar.css">
</head>

<body ng-app="imagePicker">

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-left">
            <div class="left-header">
              <div class="up">
                <i class="glyphicon glyphicon-upload"></i>
              </div>
              <div class="current-folder-name">

              </div>
            </div>

            <div class="left-body">

            </div>
          </div>
          <div class="modal-right">
            <div class="right-header">
              <div class="environment-picker">
                <button ng-click="updateEnvironment($event)" class="btn" id="designUrl">Design</button>
                <button ng-click="updateEnvironment($event)" class="btn" id="uatUrl">UAT</button>
                <button ng-click="updateEnvironment($event)" class="btn btn-primary" id="prodUrl">Production</button>
              </div>
              <div class="select">
                <button type="button" class="btn btn-primary select">Select</button>
              </div>
            </div>

            <div class="right-body">

            </div>
            <div class="url">
              <input type="text">
            </div>
          </div>

        </div>
      </div>
    </div>



    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.js"></script>
    <script type="text/javascript" src="/js/lodash.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/restangular/1.5.1/restangular.js"></script>
    <script type="text/javascript" src="/js/loading-bar.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
