.folder-holder, .images-holder, .inner-images-holder {
    float: left;
    width: 33%;
    height: 100%;
}
.glyphicon-folder-open {
  display: inline-block; }
.glyphicon-folder-close {
  display: none; }
.collapsed .glyphicon-folder-open {
  display: none; }
.collapsed .glyphicon-folder-close {
  display: inline-block; }



/*     ****       ****      ****
            Modal Styles
**     ****       ****      ****/
.modal-content {
  height: 500px;
}
.modal-left {
  width: 170px;
  float: left;
  height: 498px;
  border-right: 2px solid #dddddd;
}
.left-header, .right-header {
  border-bottom: 2px solid #dddddd;
  height: 50px;
  padding: 7px;
}

.up {
    font-size: 2.1em;
    width: 30px;
    float: left;
}

.current-folder-name {
    float: left;
}


.modal-right {
  width: 728px;
  float: left;
  height: 498px;
}

.right-body {
  height: 420px;
}


.environment-picker {
  float: left;
}
.select {
  float: right;
}

.url {
  width: 720px;
  margin: 0 4px;
}

.url input {
  width: 100%;
}
