<div class="default-folder">
    <h4 class="panel-title">
        <a class="collapsed" data-parent="#accordion" data-toggle="collapse" ng-click="updateCurrentParent(activeParent.id, $event)" href="#collapse-{{activeParent.id}}">
            <span class="glyphicon glyphicon-folder-close"></span>
            <span class="glyphicon glyphicon-folder-open collapsed"></span>
            <span>{{$scope.activeParent.name}}</span>
        </a>
    </h4>
</div>
