<div class="environment-picker">
    <button ng-click="updateEnvironment($event)" class="btn" id="designUrl">Design</button>
    <button ng-click="updateEnvironment($event)" class="btn" id="uatUrl">UAT</button>
    <button ng-click="updateEnvironment($event)" class="btn btn-primary" id="prodUrl">Production</button>
</div>
