<div class="panel-group folder-holder" id="accordion">
    <div class="panel panel-default" ng-repeat="folder in documentLibrary.childFolders">
        <div class="panel-heading" images-folders-viewer-panel-heading="folder"></div>
        <div id="collapse-{{folder.id}}" class="panel-collapse collapse" images-folders-viewer-panel-content="folder"></div>
    </div>
</div>
