<h4 class="panel-title">
    <a class="collapsed" data-parent="#accordion" data-toggle="collapse" ng-click="updateCurrentParent(folder.id, $event)" href="#collapse-{{folder.id}}">
        <span class="glyphicon glyphicon-folder-close"></span>
        <span class="glyphicon glyphicon-folder-open collapsed"></span>
        <span>{{folder.name}}</span>
    </a>
</h4>
