<ul class="list-group" ng-if="folder.childFolders.length > 0">
    <li class="list-group-item" ng-repeat="childFolder in folder.childFolders" images-folders-viewer-panel-content-item="childFolder"></li>
</ul>
