<a class="collapsed" href="{{childFolder.name}}" ng-click="updateCurrentParent(childFolder.id, $event)">
    <span class="glyphicon glyphicon-folder-close"></span>
    <span class="glyphicon glyphicon-folder-open collapsed"></span>
    <span>{{childFolder.name}}</span>
</a>
