<div class="inner-images-holder">
    <div class="folder-name"  ng-repeat="image in documentLibrary.innerImages">
        <p>ID: {{image.id}}</p>
        <p>Name: {{image.name}}</p>
        <p>Design URL: {{image.designUrl}}</p>
        <p>UAT URL: {{image.uatUrl}}</p>
        <p>Production URL: {{image.prodUrl}}</p>
        <img ng-if="environment == 'prodUrl'" ng-src="{{image.prodUrl}}" alt="{{image.name}}">
        <img ng-if="environment == 'uatUrl'" ng-src="{{image.uatUrl}}" alt="{{image.name}}">
        <img ng-if="environment == 'designUrl'" ng-src="{{image.designUrl}}" alt="{{image.name}}">
    </div>
</div>
