<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-left">
        <div class="left-header">
          <div class="up">
            <i class="glyphicon glyphicon-upload"></i>
          </div>
          <div class="current-folder-name">
            <default-folder></default-folder>
          </div>
        </div>

        <div class="left-body">

        </div>
      </div>
      <div class="modal-right">
        <div class="right-header">
          <environment-picker></environment-picker>
          <div class="select">
            <button type="button" class="btn btn-default" data-dismiss="modal">Select</button>
          </div>
        </div>

        <div class="right-body">

        </div>
        <div class="url">
          <input type="text">
        </div>
      </div>

    </div>
  </div>
</div>
