<div class="child-folders">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="folder in imagePickerLibrary.childFolders">
            <a class="collapsed" href="{{folder.name}}" ng-click="updateCurrentParent(folder.id, $event)">
                <span class="glyphicon glyphicon-folder-close"></span>
                <span class="glyphicon glyphicon-folder-open collapsed"></span>
                <span>{{folder.name}}</span>
            </a>
        </li>
    </ul>
</div>
