<div class="images">
    <div class="image-holder" ng-repeat="image in imagePickerLibrary.innerImages" ng-click="updateURL(image, $event)">
        <div ng-if="environment == 'prodUrl'" class="bg-img" ng-style="{'background':'url({{image.prodUrl}})', 'background-size':'cover','background-repeat':'no-repeat' }"></div>
        <div ng-if="environment == 'uatUrl'" class="bg-img" ng-style="{'background':'url({{image.uatUrl}})', 'background-size':'cover','background-repeat':'no-repeat' }"></div>
        <div ng-if="environment == 'designUrl'" class="bg-img" ng-style="{'background':'url({{image.designUrl}})', 'background-size':'cover','background-repeat':'no-repeat' }"></div>
    </div>
</div>
