<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-left">
                <div class="left-header">
                    <div class="up" ng-click="goUp($event);">
                        <i class="glyphicon glyphicon-upload"></i>
                    </div>
                    <div class="current-folder-name">
                        <current-folder></current-folder>
                    </div>
                </div>
                <div class="left-body">
                    <child-folders></child-folders>
                    <parent-folders></parent-folders>
                </div>
            </div>
            <div class="modal-right">
                <div class="right-header">
                    <environment-picker></environment-picker>
                    <div class="select">
                        <button type="button" class="btn btn-primary select">Select</button>
                    </div>
                </div>
                <div class="right-body">
                    <images></images>
                </div>
                <div class="url">
                    <input type="text" placeholder="{{url}}">
                </div>
            </div>
        </div>
    </div>
</div>
