<div class="parent-folders">
    <div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="folder in imagePickerLibrary.parentFolders">
                <a class="collapsed" href="{{folder.name}}" ng-click="clearParentFolders(folder.id, $event)">
                    <span class="glyphicon glyphicon-folder-close"></span>
                    <span class="glyphicon glyphicon-folder-open collapsed"></span>
                    <span>{{folder.name}}</span>
                </a>
            </li>
        </ul>
    </div>
</div>
